.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "gr";
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.centered {
  color: aliceblue;
  font-size: 240%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-35%, -50%);
}
