.app-wrapper {
  display: grid;
  grid-template-areas:
    "header"
    "gr";
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
}

.centered {
  color: aliceblue;
  font-size: 240%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-35%, -50%);
}

.marg {
  grid-area: gr;
  margin-top: 15px;
  margin-left: 55px;
  margin-right: 55px;
}

content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.block_content {
  background-color: dodgerblue;
  border-radius: 5px;
}

.block_content img {
  width: 100%;
  height: auto;
}