nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #224B2B;
    padding: 0 2vw;
}

.logotype {
    color: #eee;
    font-size: 30px;
    font-weight: 700;
}

nav ul {
    margin: 0;
    padding: 0;
    
    list-style-type: none;
    display: flex;
    align-content: center;
    flex-direction: row;
    /*justify-content: ;*/
    
    top: 60px;
    left: 0;
    right: 0;
}

nav li {
    margin-right: 20px;
    display: flex;
    align-content: center;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.active .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.active .line:nth-child(2) {
    opacity: 0;
}

.active .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

.newHeader {
    position: fixed;
    width: 100%;
    z-index: 10;
}


@media (max-width: 600px) {
    nav li {
        width: 100%;
        margin-right: 0;
    }

    nav a {
        color: white;
        padding: 14px 16px;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        width: 100%;
        background-color: #223F2B;
        transition: all .2s ease-in-out;
    }
    nav a:hover {
        padding-left: 25px;
    }
    nav ul.show-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .hamburger {
        cursor: pointer;
        display: block;
        margin: auto 10px;
    }

    #navId {
    
        flex-direction: column;
        position: absolute;
    
        opacity: 0.2;
        transform: translateY(-500px);
        transition: .6s ease opacity, .6s ease transform;
        z-index: -2;
    }
}