@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../public/fonts/AlegreyaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../../public/fonts/AlegreyaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
}

/**
 * Переменные по умолчанию.
 */
:root {
    --card_width: 250px;
    --card_border_radius: 16px;
}

/**
 * Контейнер для карточек.
 */
.pin_container {
    margin-top: 10px;
    padding: 20px 2vw;
    width: 98vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    column-width: 250px;
    justify-content: center;

    background-color: rgb(44, 43, 43);
    border-radius: 5px;

    gap: 15px;
}

/**
 * Используется для отображения карточек. 
 */
figure {
    break-inside: avoid;
}

/**
 * Стиль для карточки с информацией для пользователя.
 */
.card {
    padding: 10px;
    border-radius: var(--card_border_radius);

    background-color: rgba(255, 255, 255, 0.92);
    color: #1f1f1f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 25px;

    flex-basis: 250px;
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
}

/**
 * Стиль для фотографии карточки.
 */
.card img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

/**
 * Ссылка. 
 */
.card a {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0.6, 0.3);
    width: 150px;
    height: 35px;
    vertical-align: middle;
    
    font-size: 17px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 5px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: normal;
    
    transition: all 0.25s ease-in-out;
}

/**
 * Наведение на карту.
 */
.card:hover {
    background-color: #9f9f9f;
}

/**
 * Наведение на ссылку на карте.
 */
.card a:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px 0 rgba(0, 0, 0.6, 0.8);    
}

/*
 * Ссылка.
 */
a {
    text-decoration: none;
    color: black;
    align-self: center;
}

/**
 * Другое отображение для измененной ширины экрана.
 */
@media (max-width: 425px) {
    /**
     * Ссылка. 
     */
    .card a {
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0.4, 0.6);
        width: 100%;
        height: 38px;
        vertical-align: middle;

        font-size: 17px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 7px 7px 12px 12px;
        font-family: 'Alegreya Sans', sans-serif;
        font-weight: normal;

        transition: all 0.25s ease-in-out;
    }
}
